<label>Member Name:</label>
<%= @tr_loan.member_name %>

<label>Member Phone:</label>
<%= @tr_loan.member_phone %>

<label>Member Email:</label>
<%= @ms_member.member_email %>

<label>Book ID:</label>
<%= @ms_member.ms_book_id %>